---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Sobre | Digital Disk">
  <section>
    <h2>Sobre o Projeto</h2>
    <p>Esse é um esqueleto feito em Astro. Ideal para começar com boa estrutura.</p>
  </section>
</BaseLayout>
